// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#application {
  position:relative;
  z-index:1;
}

.product-row {
  border:1px solid #dededc;
  padding:12px 10px;
  margin:2px 0 1px;
  border-top-color:#efefef;
  transition:border-color .8s 0,
  background-color .5s 0;
  border-radius:4px;
  
  &:hover {
    border-color:#9abafe;
    background-color:#dededc;
    cursor:pointer;
    }
}
.row-fluid [class*="span"] {
  margin-left:0;
}

.add_product_form_area {
  display:none;
  z-index:2;
  border:1px dotted #bcbcbc;
  padding:15px 5px 5px;
  border-bottom:1px solid #bcbcbc;
  background:#efefef;
  box-shadow:0 1px 2px #cdcdcd inset;
  -moz-box-shadow:0 1px 2px #cdcdcd inset;
  -webkit-box-shadow:0 1px 2px #cdcdcd inset;
}
/* form */
#add_product {
  margin-bottom:10px;
  padding-left:8px;
}

label.control-label {
  vertical-align:center;
  line-height:15px;
  text-shadow:0 1px 0 #fcfcfc;
  &.add_trigger {
    position:absolute;
    top:-15px;
    right:0;
  }
}

form.product_form {
  .text-right label {
    padding-right:15px;
  }
  input,
  textarea,
  select {
    width:95%;
    padding:6px 4px;
  }
}